{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <h2>{% trans "Edit Profile" %}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans "Save Changes" %}</button>
  </form>
  <p>Date joined: {{ request.user.date_joined }}</p>
  {% if not request.user.profile.email_confirmed %}
  <form method="post" action="{% url 'verify_email' %}">
      {% csrf_token %}
      <input type="hidden" name="email" value="{{ request.user.email }}">
      <button type="submit" class="btn btn-primary">{% trans "Click here to verify your email address" %}</button>
  </form>
{% endif %}

{% endblock %}
