{%extends 'base.html'%}{%load i18n%} {%block title%}Portfolio{%endblock%}{%block content%}
<section class="social-icons">
  <div class="container">
    <div class="d-flex justify-content-center">
      <a href="https://www.instagram.com/kihokomizuno/" target="_blank" class="social-icon mr-3" data-aos="fade-up">
        <i class="fab fa-instagram" style="font-size: 24px; margin-right: 10px"></i>
      </a>
      <a href="https://www.youtube.com/@MizunoJones" target="_blank" class="social-icon" data-aos="fade-up">
        <i class="fab fa-youtube" style="font-size: 24px; margin-left: 10px"></i>
      </a>
    </div>
  </div>
</section>

<section class="projects">
  <div class="container text-center" style="margin-top: 50px">
    <div class="row" style="justify-content: center">
      {% for item in projects %}
      <div class="col-lg-6 col-12 mb-4" data-aos="fade-up" data-aos-delay="500">
        <div class="products-item h-100 position-relative">
          <div class="product-img w-100">
            <a href="{% url 'project_detail' slug=item.slug %}">
              <img class="img-fluid w-100" src="{{ item.image.url }}" alt="" style="height: 500px; max-height: 600px; object-fit: cover" />
            </a>
          </div>
          <div class="product-desc">
            <h4 class="product-title">
              <a href="{% url 'project_detail' slug=item.slug %}" style="text-decoration: none" class="links fw-bold display-5">{% trans item.title %}</a>
            </h4>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %} {% block newsletter %} {% endblock %}
