{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ project.title }}{% endblock %}

{% block content %}
        <section class="social-icons">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <a href="https://www.instagram.com/yourusername/" target="_blank" class="social-icon mr-3" style="color:#833AB4">
                        <i class="icon-instagram"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/yourchannelid" target="_blank" class="social-icon" style="color:#FF0000">
                        <i class="icon-youtube-play"></i>
                    </a>
                </div>
            </div>
        </section>
        
        <section class="projects">
            <div class="container">
                <div class="row" style="justify-content: center;">
                    {% for item in project_images %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="products-item">
                            <div class="product-img">
                                <a href="{% url 'art_detail' item.id %}">
                                    <img class="img-fluid project-image" src="{{ item.image.url }}" alt="{{ item.title }}" style="width:100%;max-width:300px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
{% endblock %}
{% block newsletter %}

{% endblock %}
{% block extra_js %}
{% endblock %}
