{% extends "base.html" %}

{% block content %}

  <main class="mt-5 pt-4">
    <figure class="text-center">
        <div class="box-main">
            <div class="firstHalf">
                <p class="h3">Contact Me</p>


                <br>
                <p class="center"
                   style="text-decoration:none;
                          color:mediumpurple;">
                    sprigs.heap_0c@icloud.com
                </p>

            </div>
        </div>
    </figure>
  </main>

{% endblock content %}